
.time-wrapper {
    /* display: block; */
}

.time-wrapper__timer {
    display: inline-block;
}

.time-wrapper__frequency, .time-wrapper__duration {
    border: 2px solid #ffd1dc;
    border-radius: 20px;
    background-image: linear-gradient(to right, #cf96fd, #ffd1dc);
}